
body {
    font-family: var(--font-family);
    text-align: center;
}

#hit, #stay {
    width: 100px;
    height: 50px;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

@keyframes blinkColors {
    0% { fill: blue; }
    25% { fill: orange; }
    50% { fill: yellow; }
    75% { fill: green; }
    100% { fill: blue; }
  }

  .blink {
    fill: black;
    transition: fill 0.3s;
  }

  svg:hover .blink {
    animation: blinkColors 2s infinite;
  }