body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    transition: background-color 1s ease-in-out;
}

.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 56px); 
    padding-top: 20px;
}

.clickButton {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rewardContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.hidden {
    display: none;
}

#dvdLogo,
#klover,
#addOne {
    position: absolute;
    width: 200px;
    height: 200px;
    display: none;
}
