body {
    background-color: green;
    text-align: center;
    font-family: Arial, sans-serif;
}
.container {
    margin-top: 50px;
}
.title {
    background-color: white;
    display: inline-block;
    padding-left: 30%;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
   
}
.activities {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}
.activity {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

@keyframes blinkColors {
    0% { fill: blue; }
    25% { fill: orange; }
    50% { fill: yellow; }
    75% { fill: green; }
    100% { fill: blue; }
  }

  .blink {
    fill: black;
    transition: fill 0.3s;
  }

  svg:hover .blink {
    animation: blinkColors 2s infinite;
  }
